In [19]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [20]:
# Baca file CSV
file_path = 'C:\Big date/mimic_iv_vital_sign.csv'
data = pd.read_csv(file_path)

# Tampilkan seluruh data dari atas sampai bawah
data

<>:2: SyntaxWarning: invalid escape sequence '\B'
<>:2: SyntaxWarning: invalid escape sequence '\B'
C:\Users\dani1\AppData\Local\Temp\ipykernel_19288\2766095873.py:2: SyntaxWarning: invalid escape sequence '\B'
  file_path = 'C:\Big date/mimic_iv_vital_sign.csv'

,stay_id,charttime,heart_rate,sbp,dbp,mbp,resp_rate,temperature,spo2,glucose
0,38675535,2182-01-25 07:00:00,119.0,NaN,NaN,NaN,21.0,39.3,100.0,NaN
1,39999230,2147-09-01 00:00:00,116.0,85.0,45.0,58.0,19.0,NaN,95.0,NaN
2,33082251,2121-10-26 01:00:00,56.0,NaN,NaN,NaN,16.0,NaN,NaN,NaN
3,32885938,2127-04-20 15:00:00,117.0,NaN,NaN,NaN,32.0,NaN,94.0,NaN
4,35292602,2128-04-07 06:00:00,50.0,89.0,49.0,64.0,23.0,NaN,98.0,NaN
...,...,...,...,...,...,...,...,...,...,...
7786003,30442777,2181-07-31 14:00:00,149.0,NaN,NaN,NaN,33.0,NaN,93.0,NaN
7786004,38871008,2158-02-18 06:00:00,80.0,NaN,NaN,NaN,33.0,NaN,95.0,NaN
7786005,34400477,2128-08-06 14:30:00,NaN,NaN,NaN,NaN,33.0,NaN,NaN,NaN
7786006,39466090,2189-12-08 18:35:00,NaN,NaN,NaN,NaN,33.0,NaN,NaN,NaN
7786007,33841543,2177-10-19 19:11:00,NaN,NaN,NaN,NaN,33.0,NaN,NaN,NaN

In [21]:
# Tampilkan 5 baris pertama
print(" Baris Pertama:\n", data.head(9))

 Baris Pertama:
     stay_id            charttime  heart_rate   sbp   dbp   mbp  resp_rate  \
0  38675535  2182-01-25 07:00:00       119.0   NaN   NaN   NaN       21.0
1  39999230  2147-09-01 00:00:00       116.0  85.0  45.0  58.0       19.0
2  33082251  2121-10-26 01:00:00        56.0   NaN   NaN   NaN       16.0
3  32885938  2127-04-20 15:00:00       117.0   NaN   NaN   NaN       32.0
4  35292602  2128-04-07 06:00:00        50.0  89.0  49.0  64.0       23.0
5  32070690  2196-04-11 01:00:00        48.0   NaN   NaN   NaN       16.0
6  35983467  2138-07-06 15:00:00        35.0   NaN   NaN   NaN       20.0
7  30669099  2171-08-31 23:45:00       128.0  83.0  47.0  61.0       25.0
8  37117569  2131-03-10 09:00:00        56.0   NaN   NaN   NaN       15.0

   temperature   spo2  glucose
0         39.3  100.0      NaN
1          NaN   95.0      NaN
2          NaN    NaN      NaN
3          NaN   94.0      NaN
4          NaN   98.0      NaN
5          NaN  100.0      NaN
6          NaN   97.0      NaN
7          NaN  100.0      NaN
8          NaN   99.0      NaN

In [22]:
# Tampilkan 5 baris Terakhir 
print("5 BARIS TERAKHIR:\n",data.tail(9))

5 BARIS TERAKHIR:
           stay_id            charttime  heart_rate  sbp  dbp  mbp  resp_rate  \
7785999  36487701  2186-02-28 13:01:00         NaN  NaN  NaN  NaN       33.0
7786000  39552719  2172-01-11 06:00:00        97.0  NaN  NaN  NaN       33.0
7786001  33378342  2175-05-15 06:26:00         NaN  NaN  NaN  NaN       33.0
7786002  31061997  2167-06-02 20:00:00       111.0  NaN  NaN  NaN       33.0
7786003  30442777  2181-07-31 14:00:00       149.0  NaN  NaN  NaN       33.0
7786004  38871008  2158-02-18 06:00:00        80.0  NaN  NaN  NaN       33.0
7786005  34400477  2128-08-06 14:30:00         NaN  NaN  NaN  NaN       33.0
7786006  39466090  2189-12-08 18:35:00         NaN  NaN  NaN  NaN       33.0
7786007  33841543  2177-10-19 19:11:00         NaN  NaN  NaN  NaN       33.0

         temperature  spo2  glucose
7785999          NaN   NaN      NaN
7786000          NaN  96.0      NaN
7786001          NaN   NaN      NaN
7786002        37.33  94.0      NaN
7786003          NaN  93.0      NaN
7786004          NaN  95.0      NaN
7786005          NaN   NaN      NaN
7786006          NaN   NaN      NaN
7786007          NaN   NaN      NaN

In [23]:
# Cek nilai missing
missing_values = data.isnull().sum()
print("Jumlah Nilai Missing di Setiap Kolom:\n", missing_values)

Jumlah Nilai Missing di Setiap Kolom:
 stay_id              0
charttime            0
heart_rate     1327827
sbp            5522178
dbp            5522700
mbp            5351657
resp_rate      1330505
temperature    6009131
spo2           1462240
glucose        6460309
dtype: int64

In [24]:
import pandas as pd

# Data MIMIC-IV
data_mimic4 = {
    'stay_id': [38675535, 39999230, 33082251, 32885938, 35292602, 32070690, 35983467, 30669099, 37117569],
    'charttime': ['2182-01-25 07:00:00', '2147-09-01 00:00:00', '2121-10-26 01:00:00', '2127-04-20 15:00:00', '2128-04-07 06:00:00', '2196-04-11 01:00:00', '2138-07-06 15:00:00', '2171-08-31 23:45:00', '2131-03-10 09:00:00'],
    'heart_rate': [119.0, 116.0, 56.0, 117.0, 50.0, 48.0, 35.0, 128.0, 56.0],
    'sbp': [None, 85.0, None, None, 89.0, None, None, 83.0, None],
    'dbp': [None, 45.0, None, None, 49.0, None, None, 47.0, None],
    'mbp': [None, 58.0, None, None, 64.0, None, None, 61.0, None],
    'resp_rate': [21.0, 19.0, 16.0, 32.0, 23.0, 16.0, 20.0, 25.0, 15.0],
    'temperature': [39.3, None, None, None, None, None, None, None, None],
    'spo2': [100.0, 95.0, None, 94.0, 98.0, 100.0, 97.0, 100.0, 99.0],
    'glucose': [None, None, None, None, None, None, None, None, None]
}

# Create a Pandas DataFrame
df = pd.DataFrame(data_mimic4)

# Menghitung kuartil pertama (Q1) dan kuartil kedua (Q2) untuk setiap kolom numerik
q1 = df.quantile(0.25, numeric_only=True)
q2 = df.quantile(0.50, numeric_only=True)

# Print the results
print("Kuartil Pertama (Q1) untuk setiap kolom:")
print(q1)
print("\nKuartil Kedua (Q2, Median) untuk setiap kolom:")
print(q2)

Kuartil Pertama (Q1) untuk setiap kolom:
stay_id        32885938.0
heart_rate           50.0
sbp                  84.0
dbp                  46.0
mbp                  59.5
resp_rate            16.0
temperature          39.3
spo2                 96.5
Name: 0.25, dtype: float64

Kuartil Kedua (Q2, Median) untuk setiap kolom:
stay_id        35292602.0
heart_rate           56.0
sbp                  85.0
dbp                  47.0
mbp                  61.0
resp_rate            20.0
temperature          39.3
spo2                 98.5
Name: 0.5, dtype: float64

In [25]:
import pandas as pd

# Data MIMIC-IV
data_mimic4 = {
    'stay_id': [38675535, 39999230, 33082251, 32885938, 35292602, 32070690, 35983467, 30669099, 37117569],
    'charttime': ['2182-01-25 07:00:00', '2147-09-01 00:00:00', '2121-10-26 01:00:00', '2127-04-20 15:00:00', '2128-04-07 06:00:00', '2196-04-11 01:00:00', '2138-07-06 15:00:00', '2171-08-31 23:45:00', '2131-03-10 09:00:00'],
    'heart_rate': [119.0, 116.0, 56.0, 117.0, 50.0, 48.0, 35.0, 128.0, 56.0],
    'sbp': [None, 85.0, None, None, 89.0, None, None, 83.0, None],
    'dbp': [None, 45.0, None, None, 49.0, None, None, 47.0, None],
    'mbp': [None, 58.0, None, None, 64.0, None, None, 61.0, None],
    'resp_rate': [21.0, 19.0, 16.0, 32.0, 23.0, 16.0, 20.0, 25.0, 15.0],
    'temperature': [39.3, None, None, None, None, None, None, None, None],
    'spo2': [100.0, 95.0, None, 94.0, 98.0, 100.0, 97.0, 100.0, 99.0],
    'glucose': [None, None, None, None, None, None, None, None, None]
}

# Create a Pandas DataFrame
df = pd.DataFrame(data_mimic4)

# Menghitung kuartil pertama (Q1) dan kuartil kedua (Q2) untuk setiap kolom numerik
q1 = df.quantile(0.25, numeric_only=True)
q2 = df.quantile(0.50, numeric_only=True)

# Print the results
print("Kuartil Pertama (Q1) untuk setiap kolom:")
print(q1)
print("\nKuartil Kedua (Q2, Median) untuk setiap kolom:")
print(q2)

Kuartil Pertama (Q1) untuk setiap kolom:
stay_id        32885938.0
heart_rate           50.0
sbp                  84.0
dbp                  46.0
mbp                  59.5
resp_rate            16.0
temperature          39.3
spo2                 96.5
Name: 0.25, dtype: float64

Kuartil Kedua (Q2, Median) untuk setiap kolom:
stay_id        35292602.0
heart_rate           56.0
sbp                  85.0
dbp                  47.0
mbp                  61.0
resp_rate            20.0
temperature          39.3
spo2                 98.5
Name: 0.5, dtype: float64

In [26]:
missing_values = df.isna().sum()
print(missing_values)

stay_id        0
charttime      0
heart_rate     0
sbp            6
dbp            6
mbp            6
resp_rate      0
temperature    8
spo2           1
glucose        9
dtype: int64

In [36]:
df_cleaned = df.dropna() # Menghapus baris dengan nilai hilang
print(df_cleaned)

    stay_id           charttime  heart_rate    sbp   dbp   mbp  resp_rate  \
0  38675535 2182-01-25 07:00:00       119.0  120.0  80.0  90.0       20.0
1  39999230 2147-09-01 00:00:00       116.0   85.0  70.0  82.5       19.0
2  33082251 2121-10-26 01:00:00        56.0   97.5  70.0  75.0       16.0
3  32885938 2127-04-20 15:00:00       117.0  100.0  70.0  82.5       22.0
4  35292602 2128-04-07 06:00:00        50.0   95.0  65.0  82.5       18.0

   temperature
0         36.5
1         36.8
2         37.0
3         36.8
4         36.8

In [28]:
df_cleaned = df.dropna(axis=1)  # Menghapus kolom dengan nilai hilang
print(df_cleaned)

    stay_id            charttime  resp_rate
0  38675535  2182-01-25 07:00:00       21.0
1  39999230  2147-09-01 00:00:00       19.0
2  33082251  2121-10-26 01:00:00       16.0
3  32885938  2127-04-20 15:00:00       32.0
4  35292602  2128-04-07 06:00:00       23.0
5  30442777  2181-07-31 14:00:00       33.0
6  38871008  2158-02-18 06:00:00       33.0
7  34400477  2128-08-06 14:30:00       33.0
8  39466090  2189-12-08 18:35:00       33.0
9  33841543  2177-10-19 19:11:00       33.0

In [29]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.impute import SimpleImputer

# Membuat DataFrame dari data yang diberikan
data = {
    'id': [38675535, 39999230, 33082251, 32885938, 35292602, 30442777, 38871008, 34400477, 39466090, 33841543],
    'datetime': ['2182-01-25 07:00:00', '2147-09-01 00:00:00', '2121-10-26 01:00:00', '2127-04-20 15:00:00', 
                 '2128-04-07 06:00:00', '2181-07-31 14:00:00', '2158-02-18 06:00:00', '2128-08-06 14:30:00', 
                 '2189-12-08 18:35:00', '2177-10-19 19:11:00'],
    'value1': [119.0, 116.0, 56.0, 117.0, 50.0, 149.0, 80.0, np.nan, np.nan, np.nan],
    'value2': [np.nan, 85.0, np.nan, np.nan, 89.0, np.nan, np.nan, np.nan, np.nan, np.nan],
    'value3': [np.nan, 45.0, np.nan, np.nan, 49.0, np.nan, np.nan, np.nan, np.nan, np.nan],
    'value4': [np.nan, 58.0, np.nan, np.nan, 64.0, np.nan, np.nan, np.nan, np.nan, np.nan],
    'value5': [21.0, 19.0, 16.0, 32.0, 23.0, 33.0, 33.0, 33.0, 33.0, 33.0],
    'value6': [39.3, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan],
    'value7': [100.0, 95.0, np.nan, 94.0, 98.0, 93.0, 95.0, np.nan, np.nan, np.nan]
}

df = pd.DataFrame(data)

# 1. Mengubah kolom datetime menjadi tipe data datetime
df['datetime'] = pd.to_datetime(df['datetime'])

# 2. Menambahkan kolom baru: mengekstrak tahun dari kolom datetime
df['year'] = df['datetime'].dt.year

# 3. Mengisi nilai hilang (missing values) dengan rata-rata pada kolom value1 sampai value7
imputer = SimpleImputer(strategy='mean')
df[['value1', 'value2', 'value3', 'value4', 'value5', 'value6', 'value7']] = imputer.fit_transform(df[['value1', 'value2', 'value3', 'value4', 'value5', 'value6', 'value7']])

# 4. Normalisasi (Min-Max Scaling) untuk value1 hingga value7
scaler = MinMaxScaler()
df[['value1_norm', 'value2_norm', 'value3_norm', 'value4_norm', 'value5_norm', 'value6_norm', 'value7_norm']] = scaler.fit_transform(df[['value1', 'value2', 'value3', 'value4', 'value5', 'value6', 'value7']])

# 5. Standarisasi (Z-score) untuk value1 hingga value7
std_scaler = StandardScaler()
df[['value1_std', 'value2_std', 'value3_std', 'value4_std', 'value5_std', 'value6_std', 'value7_std']] = std_scaler.fit_transform(df[['value1', 'value2', 'value3', 'value4', 'value5', 'value6', 'value7']])

# Tampilkan hasil transformasi
print("Data setelah transformasi:")
print(df)

Data setelah transformasi:
         id            datetime      value1  value2  value3  value4  value5  \
0  38675535 2182-01-25 07:00:00  119.000000    87.0    47.0    61.0    21.0
1  39999230 2147-09-01 00:00:00  116.000000    85.0    45.0    58.0    19.0
2  33082251 2121-10-26 01:00:00   56.000000    87.0    47.0    61.0    16.0
3  32885938 2127-04-20 15:00:00  117.000000    87.0    47.0    61.0    32.0
4  35292602 2128-04-07 06:00:00   50.000000    89.0    49.0    64.0    23.0
5  30442777 2181-07-31 14:00:00  149.000000    87.0    47.0    61.0    33.0
6  38871008 2158-02-18 06:00:00   80.000000    87.0    47.0    61.0    33.0
7  34400477 2128-08-06 14:30:00   98.142857    87.0    47.0    61.0    33.0
8  39466090 2189-12-08 18:35:00   98.142857    87.0    47.0    61.0    33.0
9  33841543 2177-10-19 19:11:00   98.142857    87.0    47.0    61.0    33.0

   value6      value7  year  ...  value5_norm  value6_norm  value7_norm  \
0    39.3  100.000000  2182  ...     0.294118          0.0     1.000000
1    39.3   95.000000  2147  ...     0.176471          0.0     0.285714
2    39.3   95.833333  2121  ...     0.000000          0.0     0.404762
3    39.3   94.000000  2127  ...     0.941176          0.0     0.142857
4    39.3   98.000000  2128  ...     0.411765          0.0     0.714286
5    39.3   93.000000  2181  ...     1.000000          0.0     0.000000
6    39.3   95.000000  2158  ...     1.000000          0.0     0.285714
7    39.3   95.833333  2128  ...     1.000000          0.0     0.404762
8    39.3   95.833333  2189  ...     1.000000          0.0     0.404762
9    39.3   95.833333  2177  ...     1.000000          0.0     0.404762

   value1_std  value2_std  value3_std  value4_std  value5_std  value6_std  \
0    0.731994    0.000000    0.000000    0.000000   -0.996801         0.0
1    0.626707   -2.236068   -2.236068   -2.236068   -1.298863         0.0
2   -1.479028    0.000000    0.000000    0.000000   -1.751954         0.0
3    0.661803    0.000000    0.000000    0.000000    0.664534         0.0
4   -1.689602    2.236068    2.236068    2.236068   -0.694740         0.0
5    1.784861    0.000000    0.000000    0.000000    0.815565         0.0
6   -0.636734    0.000000    0.000000    0.000000    0.815565         0.0
7    0.000000    0.000000    0.000000    0.000000    0.815565         0.0
8    0.000000    0.000000    0.000000    0.000000    0.815565         0.0
9    0.000000    0.000000    0.000000    0.000000    0.815565         0.0

     value7_std
0  2.232499e+00
1 -4.464998e-01
2 -7.614172e-15
3 -9.822995e-01
4  1.160899e+00
5 -1.518099e+00
6 -4.464998e-01
7 -7.614172e-15
8 -7.614172e-15
9 -7.614172e-15

[10 rows x 24 columns]

In [30]:
# Dataset contoh
data = {
    'stay_id': [38675535, 39999230, 33082251, 32885938, 35292602],
    'charttime': ['2182-01-25 07:00:00', '2147-09-01 00:00:00', '2121-10-26 01:00:00', '2127-04-20 15:00:00', '2128-04-07 06:00:00'],
    'heart_rate': [119.0, 116.0, 56.0, 117.0, 50.0],
    'sbp': [120.0, 85.0, np.nan, 100.0, 95.0],
    'dbp': [80.0, np.nan, 70.0, np.nan, 65.0],
    'mbp': [90.0, np.nan, 75.0, np.nan, np.nan],
    'resp_rate': [20.0, 19.0, 16.0, 22.0, 18.0],
    'temperature': [36.5, np.nan, 37.0, 36.8, np.nan]
}
df = pd.DataFrame(data)
df['charttime'] = pd.to_datetime(df['charttime'])

# 1. Pilih kolom yang relevan
columns_to_keep = ['stay_id', 'heart_rate', 'sbp', 'resp_rate']
df_simplified = df[columns_to_keep]

# 2. Tangani nilai yang hilang (imputasi dengan median)
df_simplified['sbp'].fillna(df_simplified['sbp'].median(), inplace=True)
df_simplified['resp_rate'].fillna(df_simplified['resp_rate'].median(), inplace=True)

# 3. Penghapusan duplikat
df_simplified.drop_duplicates(inplace=True)

# 4. Menampilkan dataset yang telah disederhanakan
print(df_simplified)

    stay_id  heart_rate    sbp  resp_rate
0  38675535       119.0  120.0       20.0
1  39999230       116.0   85.0       19.0
2  33082251        56.0   97.5       16.0
3  32885938       117.0  100.0       22.0
4  35292602        50.0   95.0       18.0

C:\Users\dani1\AppData\Local\Temp\ipykernel_19288\571950190.py:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_simplified['sbp'].fillna(df_simplified['sbp'].median(), inplace=True)
C:\Users\dani1\AppData\Local\Temp\ipykernel_19288\571950190.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_simplified['sbp'].fillna(df_simplified['sbp'].median(), inplace=True)
C:\Users\dani1\AppData\Local\Temp\ipykernel_19288\571950190.py:21: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_simplified['resp_rate'].fillna(df_simplified['resp_rate'].median(), inplace=True)
C:\Users\dani1\AppData\Local\Temp\ipykernel_19288\571950190.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_simplified['resp_rate'].fillna(df_simplified['resp_rate'].median(), inplace=True)
C:\Users\dani1\AppData\Local\Temp\ipykernel_19288\571950190.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_simplified.drop_duplicates(inplace=True)

In [31]:
columns_to_keep = ['stay_id', 'heart_rate', 'sbp', 'resp_rate']
df_simplified = df[columns_to_keep]

In [32]:
df_simplified['sbp'].fillna(df_simplified['sbp'].median(), inplace=True)
df_simplified['resp_rate'].fillna(df_simplified['resp_rate'].median(), inplace=True)

C:\Users\dani1\AppData\Local\Temp\ipykernel_19288\1375806587.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_simplified['sbp'].fillna(df_simplified['sbp'].median(), inplace=True)
C:\Users\dani1\AppData\Local\Temp\ipykernel_19288\1375806587.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_simplified['sbp'].fillna(df_simplified['sbp'].median(), inplace=True)
C:\Users\dani1\AppData\Local\Temp\ipykernel_19288\1375806587.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_simplified['resp_rate'].fillna(df_simplified['resp_rate'].median(), inplace=True)
C:\Users\dani1\AppData\Local\Temp\ipykernel_19288\1375806587.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_simplified['resp_rate'].fillna(df_simplified['resp_rate'].median(), inplace=True)

In [33]:
df_simplified.drop_duplicates(inplace=True)

C:\Users\dani1\AppData\Local\Temp\ipykernel_19288\3315220013.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_simplified.drop_duplicates(inplace=True)

In [34]:
print(df_simplified)

    stay_id  heart_rate    sbp  resp_rate
0  38675535       119.0  120.0       20.0
1  39999230       116.0   85.0       19.0
2  33082251        56.0   97.5       16.0
3  32885938       117.0  100.0       22.0
4  35292602        50.0   95.0       18.0

In [35]:
# Mengganti missing values untuk kolom numerik dengan median
for column in ['heart_rate', 'sbp', 'dbp', 'mbp', 'temperature', 'spo2']:
    df[column].fillna(df[column].median(), inplace=True)

# Mengganti nilai kosong pada kolom 'glucose' (karena semua nilai hilang, kita bisa menghapus kolom ini)
df.drop(columns=['glucose'], inplace=True)

C:\Users\dani1\AppData\Local\Temp\ipykernel_19288\2620696399.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(df[column].median(), inplace=True)

KeyError: 'spo2'

In [87]:
# Misalnya, kita bisa menggunakan metode IQR untuk mendeteksi outliers
def remove_outliers(df, column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    return df[~((df[column] < (Q1 - 1.5 * IQR)) | (df[column] > (Q3 + 1.5 * IQR)))]

# Menghapus outliers untuk kolom 'heart_rate' sebagai contoh
df = remove_outliers(df, 'heart_rate')

In [61]:
# 1. Menangani Inkonsistensi Tanggal
# Mengubah format kolom 'charttime' menjadi datetime dan menandai tanggal yang tidak valid
df['charttime'] = pd.to_datetime(df['charttime'], errors='coerce')

# 2. Menangani Nilai NaN
# Mengganti nilai NaN dengan nilai interpolasi jika sesuai
df.interpolate(method='linear', inplace=True)

# 3. Mengatasi Nilai yang Tidak Konsisten
# Contoh: Mengisi nilai NaN dengan rata-rata kolom jika masuk akal
df['heart_rate'].fillna(df['heart_rate'].mean(), inplace=True)
df['sbp'].fillna(df['sbp'].mean(), inplace=True)
df['dbp'].fillna(df['dbp'].mean(), inplace=True)
df['mbp'].fillna(df['mbp'].mean(), inplace=True)
df['resp_rate'].fillna(df['resp_rate'].mean(), inplace=True)
df['temperature'].fillna(df['temperature'].mean(), inplace=True)
df['spo2'].fillna(df['spo2'].mean(), inplace=True)
df['glucose'].fillna(df['glucose'].mean(), inplace=True)

# 4. Menghapus Baris dengan Tanggal Tidak Valid
df = df.dropna(subset=['charttime'])

# Menampilkan data setelah pembersihan
print("Data Setelah Pembersihan:")
print(df.head())

Data Setelah Pembersihan:
    stay_id           charttime  heart_rate        sbp        dbp        mbp  \
0  38675535 2182-01-25 07:00:00       119.0  88.111111  48.111111  62.666667
1  39999230 2147-09-01 00:00:00       116.0  85.000000  45.000000  58.000000
2  33082251 2121-10-26 01:00:00        56.0  86.333333  46.333333  60.000000
3  32885938 2127-04-20 15:00:00       117.0  87.666667  47.666667  62.000000
4  35292602 2128-04-07 06:00:00        50.0  89.000000  49.000000  64.000000

   resp_rate  temperature   spo2  glucose
0       21.0         39.3  100.0      NaN
1       19.0         39.3   95.0      NaN
2       16.0         39.3   94.5      NaN
3       32.0         39.3   94.0      NaN
4       23.0         39.3   98.0      NaN

C:\Users\dani1\AppData\Local\Temp\ipykernel_19996\736560735.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['heart_rate'].fillna(df['heart_rate'].mean(), inplace=True)
C:\Users\dani1\AppData\Local\Temp\ipykernel_19996\736560735.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['sbp'].fillna(df['sbp'].mean(), inplace=True)
C:\Users\dani1\AppData\Local\Temp\ipykernel_19996\736560735.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['dbp'].fillna(df['dbp'].mean(), inplace=True)
C:\Users\dani1\AppData\Local\Temp\ipykernel_19996\736560735.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['mbp'].fillna(df['mbp'].mean(), inplace=True)
C:\Users\dani1\AppData\Local\Temp\ipykernel_19996\736560735.py:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['resp_rate'].fillna(df['resp_rate'].mean(), inplace=True)
C:\Users\dani1\AppData\Local\Temp\ipykernel_19996\736560735.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['temperature'].fillna(df['temperature'].mean(), inplace=True)
C:\Users\dani1\AppData\Local\Temp\ipykernel_19996\736560735.py:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['spo2'].fillna(df['spo2'].mean(), inplace=True)
C:\Users\dani1\AppData\Local\Temp\ipykernel_19996\736560735.py:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['glucose'].fillna(df['glucose'].mean(), inplace=True)

In [58]:

import pandas as pd

# Data MIMIC-III
data_mimic3 = {
    'icustay_id': [200001, 200001, 200001, 200001, 200001, 200001, 200001, 200001, 200001],
    'charttime': ['2181-11-25 19:06:00 UTC', '2181-11-25 19:07:00 UTC', '2181-11-25 19:08:00 UTC', 
                  '2181-11-25 19:14:00 UTC', '2181-11-25 19:16:00 UTC', '2181-11-25 20:00:00 UTC', 
                  '2181-11-25 21:00:00 UTC', '2181-11-25 22:00:00 UTC', '2181-11-25 23:00:00 UTC'],
    'heartrate': [115.0, None, None, None, 114.0, 113.0, 108.0, 110.0, 102.0],
    'sysbp': [None, None, 113.0, None, None, 110.0, 113.0, 116.0, 102.0],
    'diasbp': [None, None, 65.0, None, None, 65.0, 68.0, 68.0, 61.0],
    'meanbp': [None, None, 77.0, None, None, 76.0, 79.0, 79.0, 71.0],
    'resprate': [None, 22.0, None, None, 26.0, 20.0, 18.0, 27.0, 21.0],
    'tempc': [None, None, None, None, 37.277778, None, None, None, 37.666667],
    'spo2': [None, None, None, 94.0, 95.0, 97.0, 98.0, 98.0, 96.0],
    'glucose': [None, None, None, None, None, None, None, 118.0, None]
}

df_mimic3 = pd.DataFrame(data_mimic3)

# Data MIMIC-IV
data_mimic4 = {
    'stay_id': [38675535, 39999230, 33082251, 32885938, 35292602, 32070690, 35983467, 30669099, 37117569],
    'charttime': ['2182-01-25 07:00:00', '2147-09-01 00:00:00', '2121-10-26 01:00:00', 
                  '2127-04-20 15:00:00', '2128-04-07 06:00:00', '2196-04-11 01:00:00', 
                  '2138-07-06 15:00:00', '2171-08-31 23:45:00', '2131-03-10 09:00:00'],
    'heart_rate': [119.0, 116.0, 56.0, 117.0, 50.0, 48.0, 35.0, 128.0, 56.0],
    'sbp': [None, 85.0, None, None, 89.0, None, None, 83.0, None],
    'dbp': [None, 45.0, None, None, 49.0, None, None, 47.0, None],
    'mbp': [None, 58.0, None, None, 64.0, None, None, 61.0, None],
    'resp_rate': [21.0, 19.0, 16.0, 32.0, 23.0, 16.0, 20.0, 25.0, 15.0],
    'temperature': [39.3, None, None, None, None, None, None, None, None],
    'spo2': [100.0, 95.0, None, 94.0, 98.0, 100.0, 97.0, 100.0, 99.0],
    'glucose': [None, None, None, None, None, None, None, None, None]
}

df_mimic4 = pd.DataFrame(data_mimic4)

# Normalisasi nama kolom untuk penggabungan
df_mimic3.rename(columns={
    'icustay_id': 'stay_id',
    'heartrate': 'heart_rate',
    'sysbp': 'sbp',
    'diasbp': 'dbp',
    'meanbp': 'mbp',
    'resprate': 'resp_rate',
    'tempc': 'temperature'
}, inplace=True)

# Menggabungkan DataFrame dengan join luar
df_combined = pd.merge(df_mimic3, df_mimic4, how='outer', on=['stay_id', 'charttime'])

# Menampilkan hasil
print("DataFrame Gabungan:")
print(df_combined)

DataFrame Gabungan:
     stay_id                charttime  heart_rate_x  sbp_x  dbp_x  mbp_x  \
0     200001  2181-11-25 19:06:00 UTC         115.0    NaN    NaN    NaN
1     200001  2181-11-25 19:07:00 UTC           NaN    NaN    NaN    NaN
2     200001  2181-11-25 19:08:00 UTC           NaN  113.0   65.0   77.0
3     200001  2181-11-25 19:14:00 UTC           NaN    NaN    NaN    NaN
4     200001  2181-11-25 19:16:00 UTC         114.0    NaN    NaN    NaN
5     200001  2181-11-25 20:00:00 UTC         113.0  110.0   65.0   76.0
6     200001  2181-11-25 21:00:00 UTC         108.0  113.0   68.0   79.0
7     200001  2181-11-25 22:00:00 UTC         110.0  116.0   68.0   79.0
8     200001  2181-11-25 23:00:00 UTC         102.0  102.0   61.0   71.0
9   30669099      2171-08-31 23:45:00           NaN    NaN    NaN    NaN
10  32070690      2196-04-11 01:00:00           NaN    NaN    NaN    NaN
11  32885938      2127-04-20 15:00:00           NaN    NaN    NaN    NaN
12  33082251      2121-10-26 01:00:00           NaN    NaN    NaN    NaN
13  35292602      2128-04-07 06:00:00           NaN    NaN    NaN    NaN
14  35983467      2138-07-06 15:00:00           NaN    NaN    NaN    NaN
15  37117569      2131-03-10 09:00:00           NaN    NaN    NaN    NaN
16  38675535      2182-01-25 07:00:00           NaN    NaN    NaN    NaN
17  39999230      2147-09-01 00:00:00           NaN    NaN    NaN    NaN

    resp_rate_x  temperature_x  spo2_x  glucose_x  heart_rate_y  sbp_y  dbp_y  \
0           NaN            NaN     NaN        NaN           NaN    NaN    NaN
1          22.0            NaN     NaN        NaN           NaN    NaN    NaN
2           NaN            NaN     NaN        NaN           NaN    NaN    NaN
3           NaN            NaN    94.0        NaN           NaN    NaN    NaN
4          26.0      37.277778    95.0        NaN           NaN    NaN    NaN
5          20.0            NaN    97.0        NaN           NaN    NaN    NaN
6          18.0            NaN    98.0        NaN           NaN    NaN    NaN
7          27.0            NaN    98.0      118.0           NaN    NaN    NaN
8          21.0      37.666667    96.0        NaN           NaN    NaN    NaN
9           NaN            NaN     NaN        NaN         128.0   83.0   47.0
10          NaN            NaN     NaN        NaN          48.0    NaN    NaN
11          NaN            NaN     NaN        NaN         117.0    NaN    NaN
12          NaN            NaN     NaN        NaN          56.0    NaN    NaN
13          NaN            NaN     NaN        NaN          50.0   89.0   49.0
14          NaN            NaN     NaN        NaN          35.0    NaN    NaN
15          NaN            NaN     NaN        NaN          56.0    NaN    NaN
16          NaN            NaN     NaN        NaN         119.0    NaN    NaN
17          NaN            NaN     NaN        NaN         116.0   85.0   45.0

    mbp_y  resp_rate_y  temperature_y  spo2_y glucose_y
0     NaN          NaN            NaN     NaN       NaN
1     NaN          NaN            NaN     NaN       NaN
2     NaN          NaN            NaN     NaN       NaN
3     NaN          NaN            NaN     NaN       NaN
4     NaN          NaN            NaN     NaN       NaN
5     NaN          NaN            NaN     NaN       NaN
6     NaN          NaN            NaN     NaN       NaN
7     NaN          NaN            NaN     NaN       NaN
8     NaN          NaN            NaN     NaN       NaN
9    61.0         25.0            NaN   100.0      None
10    NaN         16.0            NaN   100.0      None
11    NaN         32.0            NaN    94.0      None
12    NaN         16.0            NaN     NaN      None
13   64.0         23.0            NaN    98.0      None
14    NaN         20.0            NaN    97.0      None
15    NaN         15.0            NaN    99.0      None
16    NaN         21.0           39.3   100.0      None
17   58.0         19.0            NaN    95.0      None

In [59]:


import pandas as pd

# Data MIMIC-IV
data_mimic4 = {
    'stay_id': [38675535, 39999230, 33082251, 32885938, 35292602, 32070690, 35983467, 30669099, 37117569],
    'charttime': ['2182-01-25 07:00:00', '2147-09-01 00:00:00', '2121-10-26 01:00:00', '2127-04-20 15:00:00', '2128-04-07 06:00:00', '2196-04-11 01:00:00', '2138-07-06 15:00:00', '2171-08-31 23:45:00', '2131-03-10 09:00:00'],
    'heart_rate': [119.0, 116.0, 56.0, 117.0, 50.0, 48.0, 35.0, 128.0, 56.0],
    'sbp': [None, 85.0, None, None, 89.0, None, None, 83.0, None],
    'dbp': [None, 45.0, None, None, 49.0, None, None, 47.0, None],
    'mbp': [None, 58.0, None, None, 64.0, None, None, 61.0, None],
    'resp_rate': [21.0, 19.0, 16.0, 32.0, 23.0, 16.0, 20.0, 25.0, 15.0],
    'temperature': [39.3, None, None, None, None, None, None, None, None],
    'spo2': [100.0, 95.0, None, 94.0, 98.0, 100.0, 97.0, 100.0, 99.0],
    'glucose': [None, None, None, None, None, None, None, None, None]
}

# Membuat DataFrame dari data MIMIC-IV
df_mimic4 = pd.DataFrame(data_mimic4)

# Normalisasi: Mengubah format waktu menjadi konsisten
df_mimic4['charttime'] = pd.to_datetime(df_mimic4['charttime'], errors='coerce')

# Agregasi: Menghitung rata-rata untuk setiap pengukuran berdasarkan 'stay_id'
aggregated_data = df_mimic4.groupby('stay_id').agg({
    'heart_rate': 'mean',
    'sbp': 'mean',
    'dbp': 'mean',
    'mbp': 'mean',
    'resp_rate': 'mean',
    'temperature': 'mean',
    'spo2': 'mean',
    'glucose': 'mean'
}).reset_index()

print("Data yang Telah Diagregasi Berdasarkan Stay ID:")
print(aggregated_data)

Data yang Telah Diagregasi Berdasarkan Stay ID:
    stay_id  heart_rate   sbp   dbp   mbp  resp_rate  temperature   spo2  \
0  30669099       128.0  83.0  47.0  61.0       25.0          NaN  100.0
1  32070690        48.0   NaN   NaN   NaN       16.0          NaN  100.0
2  32885938       117.0   NaN   NaN   NaN       32.0          NaN   94.0
3  33082251        56.0   NaN   NaN   NaN       16.0          NaN    NaN
4  35292602        50.0  89.0  49.0  64.0       23.0          NaN   98.0
5  35983467        35.0   NaN   NaN   NaN       20.0          NaN   97.0
6  37117569        56.0   NaN   NaN   NaN       15.0          NaN   99.0
7  38675535       119.0   NaN   NaN   NaN       21.0         39.3  100.0
8  39999230       116.0  85.0  45.0  58.0       19.0          NaN   95.0

  glucose
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
8     NaN

In [55]:
# Pembuatan Atribut Baru: Menghitung perubahan detak jantung antar waktu
df_mimic4['heart_rate_change'] = df_mimic4.groupby('stay_id')['heart_rate'].diff()

# Pembuatan Atribut Baru: Menentukan status kesehatan berdasarkan ambang batas
def determine_health_status(row):
    if row['spo2'] < 90:
        return 'Critical'
    elif row['spo2'] < 95:
        return 'Warning'
    else:
        return 'Normal'

df_mimic4['health_status'] = df_mimic4.apply(determine_health_status, axis=1)

# Menampilkan DataFrame yang telah diubah
print("\nDataFrame MIMIC-IV Setelah Normalisasi, Agregasi, dan Pembuatan Atribut Baru:")
print(df_mimic4)

DataFrame MIMIC-IV Setelah Normalisasi, Agregasi, dan Pembuatan Atribut Baru:
    stay_id           charttime  heart_rate   sbp   dbp   mbp  resp_rate  \
0  38675535 2182-01-25 07:00:00       119.0   NaN   NaN   NaN       21.0
1  39999230 2147-09-01 00:00:00       116.0  85.0  45.0  58.0       19.0
2  33082251 2121-10-26 01:00:00        56.0   NaN   NaN   NaN       16.0
3  32885938 2127-04-20 15:00:00       117.0   NaN   NaN   NaN       32.0
4  35292602 2128-04-07 06:00:00        50.0  89.0  49.0  64.0       23.0
5  32070690 2196-04-11 01:00:00        48.0   NaN   NaN   NaN       16.0
6  35983467 2138-07-06 15:00:00        35.0   NaN   NaN   NaN       20.0
7  30669099 2171-08-31 23:45:00       128.0  83.0  47.0  61.0       25.0
8  37117569 2131-03-10 09:00:00        56.0   NaN   NaN   NaN       15.0

   temperature   spo2 glucose  heart_rate_change health_status
0         39.3  100.0    None                NaN        Normal
1          NaN   95.0    None                NaN        Normal
2          NaN    NaN    None                NaN        Normal
3          NaN   94.0    None                NaN       Warning
4          NaN   98.0    None                NaN        Normal
5          NaN  100.0    None                NaN        Normal
6          NaN   97.0    None                NaN        Normal
7          NaN  100.0    None                NaN        Normal
8          NaN   99.0    None                NaN        Normal

In [56]:
import pandas as pd
import numpy as np

# Membuat DataFrame dari data
data_mimic4 = pd.DataFrame({
    'stay_id': [38675535, 39999230, 33082251, 32885938, 35292602, 32070690, 35983467, 30669099, 37117569],
    'charttime': ['2182-01-25 07:00:00', '2147-09-01 00:00:00', '2121-10-26 01:00:00', '2127-04-20 15:00:00', '2128-04-07 06:00:00', '2196-04-11 01:00:00', '2138-07-06 15:00:00', '2171-08-31 23:45:00', '2131-03-10 09:00:00'],
    'heart_rate': [119.0, 116.0, 56.0, 117.0, 50.0, 48.0, 35.0, 128.0, 56.0],
    'sbp': [None, 85.0, None, None, 89.0, None, None, 83.0, None],
    'dbp': [None, 45.0, None, None, 49.0, None, None, 47.0, None],
    'mbp': [None, 58.0, None, None, 64.0, None, None, 61.0, None],
    'resp_rate': [21.0, 19.0, 16.0, 32.0, 23.0, 16.0, 20.0, 25.0, 15.0],
    'temperature': [39.3, None, None, None, None, None, None, None, None],
    'spo2': [100.0, 95.0, None, 94.0, 98.0, 100.0, 97.0, 100.0, 99.0],
    'glucose': [None, None, None, None, None, None, None, None, None]
})

# Menghapus kolom yang tidak berisi informasi
data_mimic4.drop(columns=['glucose'], inplace=True)

# Mengisi nilai yang hilang
data_mimic4['sbp'].fillna(data_mimic4['sbp'].median(), inplace=True)
data_mimic4['dbp'].fillna(data_mimic4['dbp'].median(), inplace=True)
data_mimic4['mbp'].fillna(data_mimic4['mbp'].median(), inplace=True)
data_mimic4['temperature'].fillna(data_mimic4['temperature'].median(), inplace=True)
data_mimic4['spo2'].fillna(data_mimic4['spo2'].median(), inplace=True)

# Menampilkan DataFrame yang telah diubah
print("\nDataFrame MIMIC-IV Setelah Reduksi Data:")
print(data_mimic4)

DataFrame MIMIC-IV Setelah Reduksi Data:
    stay_id            charttime  heart_rate   sbp   dbp   mbp  resp_rate  \
0  38675535  2182-01-25 07:00:00       119.0  85.0  47.0  61.0       21.0
1  39999230  2147-09-01 00:00:00       116.0  85.0  45.0  58.0       19.0
2  33082251  2121-10-26 01:00:00        56.0  85.0  47.0  61.0       16.0
3  32885938  2127-04-20 15:00:00       117.0  85.0  47.0  61.0       32.0
4  35292602  2128-04-07 06:00:00        50.0  89.0  49.0  64.0       23.0
5  32070690  2196-04-11 01:00:00        48.0  85.0  47.0  61.0       16.0
6  35983467  2138-07-06 15:00:00        35.0  85.0  47.0  61.0       20.0
7  30669099  2171-08-31 23:45:00       128.0  83.0  47.0  61.0       25.0
8  37117569  2131-03-10 09:00:00        56.0  85.0  47.0  61.0       15.0

   temperature   spo2
0         39.3  100.0
1         39.3   95.0
2         39.3   98.5
3         39.3   94.0
4         39.3   98.0
5         39.3  100.0
6         39.3   97.0
7         39.3  100.0
8         39.3   99.0

C:\Users\dani1\AppData\Local\Temp\ipykernel_19996\709189916.py:22: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_mimic4['sbp'].fillna(data_mimic4['sbp'].median(), inplace=True)
C:\Users\dani1\AppData\Local\Temp\ipykernel_19996\709189916.py:23: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_mimic4['dbp'].fillna(data_mimic4['dbp'].median(), inplace=True)
C:\Users\dani1\AppData\Local\Temp\ipykernel_19996\709189916.py:24: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_mimic4['mbp'].fillna(data_mimic4['mbp'].median(), inplace=True)
C:\Users\dani1\AppData\Local\Temp\ipykernel_19996\709189916.py:25: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_mimic4['temperature'].fillna(data_mimic4['temperature'].median(), inplace=True)
C:\Users\dani1\AppData\Local\Temp\ipykernel_19996\709189916.py:26: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_mimic4['spo2'].fillna(data_mimic4['spo2'].median(), inplace=True)

In [60]:

# Membaca data
data = {
    'stay_id': [38675535, 39999230, 33082251, 32885938, 35292602, 30442777, 38871008, 34400477, 39466090, 33841543],
    'charttime': ['2182-01-25 07:00:00', '2147-09-01 00:00:00', '2121-10-26 01:00:00', '2127-04-20 15:00:00', '2128-04-07 06:00:00',
                  '2181-07-31 14:00:00', '2158-02-18 06:00:00', '2128-08-06 14:30:00', '2189-12-08 18:35:00', '2177-10-19 19:11:00'],
    'heart_rate': [119.0, 116.0, 56.0, 117.0, 50.0, 149.0, 80.0, np.nan, np.nan, np.nan],
    'sbp': [np.nan, 85.0, np.nan, np.nan, 89.0, np.nan, np.nan, np.nan, np.nan, np.nan],
    'dbp': [np.nan, 45.0, np.nan, np.nan, 49.0, np.nan, np.nan, np.nan, np.nan, np.nan],
    'mbp': [np.nan, 58.0, np.nan, np.nan, 64.0, np.nan, np.nan, np.nan, np.nan, np.nan],
    'resp_rate': [21.0, 19.0, 16.0, 32.0, 23.0, 33.0, 33.0, 33.0, 33.0, 33.0],
    'temperature': [39.3, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan],
    'spo2': [100.0, 95.0, np.nan, 94.0, 98.0, 93.0, 95.0, np.nan, np.nan, np.nan],
    'glucose': [np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan]
}
df = pd.DataFrame(data)
df['charttime'] = pd.to_datetime(df['charttime'])

# Mengambil sampel 50% dari dataset secara acak
df_sampled = df.sample(frac=0.5, random_state=1)

print("Dataset setelah sampling:")
print(df_sampled)

Dataset setelah sampling:
    stay_id           charttime  heart_rate   sbp   dbp   mbp  resp_rate  \
2  33082251 2121-10-26 01:00:00        56.0   NaN   NaN   NaN       16.0
9  33841543 2177-10-19 19:11:00         NaN   NaN   NaN   NaN       33.0
6  38871008 2158-02-18 06:00:00        80.0   NaN   NaN   NaN       33.0
4  35292602 2128-04-07 06:00:00        50.0  89.0  49.0  64.0       23.0
0  38675535 2182-01-25 07:00:00       119.0   NaN   NaN   NaN       21.0

   temperature   spo2  glucose
2          NaN    NaN      NaN
9          NaN    NaN      NaN
6          NaN   95.0      NaN
4          NaN   98.0      NaN
0         39.3  100.0      NaN